  .App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  header {
    text-align: center;
  }

  .content {
    margin-top: 20px;
    text-align: center;
  }

  .user-selector label {
    margin-right: 10px;
  }

  .daily-statistics {
    margin-top: 20px;
  }

  .sleep-data, .analysis-data {
    margin: 10px;
  }

  .daily-statistics h3 {
    margin-bottom: 5px;
  }

  .daily-statistics ul {
    list-style: none;
    padding-left: 0;
  }

  .daily-statistics li {
    margin-bottom: 5px;
  }